@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --base-100: #30313d;
    --base-content: #ffffff;
    --base-content-200: #f8f9fd;
    --base-content-300: #dfe5eb;
    --primary: #06ab78;
    --secondary: #ffb74d;
    --primary-content: #ffffff;
  }
}

body {
  color: var(--base-content); /* Use the custom property for text color */
  background-color: var(
    --primary
  ); /* Use the custom property for background color */
}

.tippy-box[data-theme~="tabx"] {
  background-color: oklch(70.76% 0.197 46.46);
  color: oklch(31.72% 0.021 281.35);
}

.tippy-box[data-theme~="tabx"] .tippy-arrow {
  color: oklch(70.76% 0.197 46.46);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
